a img{
    width: 300px;
    height: 300px;
}

.heading{
    color: red;
    font-weight: 900;
    font-size: 4rem;
    padding: 10px 10px 10px 10px;
    border: rgb(0, 231, 15) solid 5px;
}

*{
    margin: 0;
    padding: 0;
    background-color: #2c2929;
}

p{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    font-size: 1.5rem;
    padding: 5px 5px 5px 5px;
    border: solid red 3px;
    text-align: justify;

}

sup {
    color: blue;
}